<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>

    <!--bootstrap css cdn-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>

    <!--boostrap js cdn-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin-top: 10px">
            <div class="col-md-6 offset-md-3 description">
                <div class="card bg-light">
                    <div class="card-header">
                        <h1 class="card-title text-center bg-dark text-white">Recipe Title</h1>
                    </div>
                    <div class="card-body">
                        <div>
                            <ul class="list-group-flush" th:each="recipe : ${recipes}">
                                <li class="list-group-item list-group-item-action">Categories</li>
                                    <ul class="list-group" th:each="r : ${recipe.categories}">
                                        <li class="list-group-item" th:remove="all">Category 1</li>
                                        <li class="list-group-item" th:remove="all">Category 2</li>
                                        <li class="list-group-item" th:text="${r}"></li>
                                    </ul>
                                <li class="list-group-item list-group-item-action">Prep Time</li>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:text="${recipe.prepTime}">"prep time"</li>
                                    </ul>
                                <li class="list-group-item list-group-item-action">Cook Time</li>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:text="${recipe.cookTime}">"cook time"</li>
                                    </ul>
                                <li class="list-group-item list-group-item-action">Source</li>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:text="${recipe.source}">"source"</li>
                                    </ul>
                                <li class="list-group-item list-group-item-action">Difficulty</li>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:text="${recipe.difficulty}">"difficulty"</li>
                                    </ul>
                                <li class="list-group-item list-group-item-action">Servings</li>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:text="${recipe.servings}">"servings"</li>
                                    </ul>
                                <li class="list-group-item list-group-item-action">URL</li>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:text="${recipe.url}">"url"</li>
                                    </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-6 offset-md-3 ingredients">
                <div class="card bg-light">
                    <div class="card-header">
                        <h1 class="card-title text-center bg-dark text-white">Ingredients</h1>
                    </div>
                    <div class="card-body" th:each="recipe : ${recipes}">
                        <ul class="list-group-flush" th:each="r : ${recipe.ingredients}">
                            <li class="list-group-item" th:remove="all">ingredient 1</li>
                            <li class="list-group-item" th:remove="all">ingredient 2</li>
                            <li class="list-group-item" th:remove="all">ingredient 3</li>
                            <li class="list-group-item" th:remove="all">ingredients 4</li>
                            <li class="list-group-item" th:text="${recipe.ingredients}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-6 offset-md-3 directions">
                <div class="card bg-light">
                    <div class="card-header">
                        <h1 class="card-title text-center bg-dark text-white">Directions</h1>
                    </div>
                    <div class="card-body" th:each="recipe : ${recipes}">
                        <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus ultrices orci nec elit congue, a feugiat nisl gravida.
                            Nullam vulputate metus non sollicitudin porttitor.
                            In maximus nibh sed metus dictum, nec porta risus varius.
                            Fusce in mi lobortis, efficitur dui nec, porttitor ex.
                            Cras tempor ligula ac justo hendrerit, at mollis libero bibendum.
                            Sed eu lorem sed lectus sollicitudin accumsan id et nisi.
                            Vestibulum faucibus sapien eu pulvinar pellentesque.
                            Fusce placerat mauris et eros rhoncus, quis fringilla velit rhoncus.
                            Curabitur nec purus faucibus, rhoncus odio id, efficitur nulla.
                            Suspendisse fermentum augue et tellus hendrerit, ac iaculis lacus cursus.
                            Nunc sed magna in sem sollicitudin pretium.
                            Quisque scelerisque sem sit amet auctor aliquam.
                            Duis non turpis eget dolor pulvinar vehicula sed et est.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-6 offset-md-3 notes">
                <div class="card bg-light">
                    <div class="card-header">
                        <h1 class="card-title text-center bg-dark text-white">Notes</h1>
                    </div>
                    <div class="card-body" th:each="recipe : ${recipes}">
                        <p th:text="${recipe.notes}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum elit,
                            porttitor non nulla vel, efficitur rhoncus nunc. Quisque quis sem interdum,
                            tincidunt dui sit amet, tristique arcu. Aenean vitae sagittis ex, et ultrices
                            dolor. Duis vitae eleifend eros. Curabitur aliquet ex sed turpis ullamcorper
                            egestas. Pellentesque vulputate arcu vel nibh pulvinar placerat. Quisque eu
                            elementum sapien. In blandit id turpis eget vehicula. Cras sodales, mi ut
                            tincidunt suscipit, est ex faucibus quam, vitae blandit tortor nisi sed
                            tellus. Proin ac tellus et sapien scelerisque pretium.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>